<div class="row">
  <h4>Academies</h4>
  <hr/>
</div>

<div class="container">
  <div class="row">
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Reds Academy</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Champions</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Alliance</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">SK Academy</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">IJF Academy</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Star Academy</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Star Academy</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 7 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 B Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 7 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 B Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 7 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 A Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Under 6 B Division</span>
    </div>
    <div class="league-lable col-lg-2 col-sm-6">
      <span class="league-text">Star Academy</span>
    </div>
  </div>
</div>



