<div class="container-fluid">
  <div class="row">
    <h4>Fixture Setup</h4>
  </div>
  <div class="row">
    <hr/>
  </div>
  <div class="row">
    <form class="col-sm-12 col-lg-12 d-flex justify-content-center">
          <div class="form-group col-xs-3 col-sm-3 col-md-2 col-lg-2 mt-4 me-3">
            <select class="form-select" aria-label="Default select" disabled>
              <option selected>League</option>
            </select>
            <div>
              <select class="form-select" id="container" size="5" aria-label="Default select multiple">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
              </select>
            </div>
          </div>
          <div class="form-group col-xs-3 col-sm-3 col-md-2 col-lg-2 mt-4 me-3">
            <select class="form-select" aria-label="Default select" disabled>
              <option selected>Team 1</option>
            </select>
            <div>
              <select class="form-select" id="container" size="5" aria-label="Default select multiple">
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                    <option value="4">Four</option>
                    <option value="5">Five</option>
                    <option value="6">Six</option>
              </select>
            </div>
        </div>
        <div class="form-group col-xs-3 col-sm-3 col-md-2 col-lg-2 mt-4 me-3">
          <select class="form-select" aria-label="Default select" disabled>
            <option selected>Team 2</option>
          </select>
          <div>
            <select class="form-select" id="container" size="5" aria-label="Default select multiple">
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Four</option>
                  <option value="5">Five</option>
                  <option value="6">Six</option>
            </select>
          </div>
      </div>
      <div class="form-group col-xs-12 col-sm-3 col-md-2 mt-4" style="text-align: center;">
        <button type="submit" class="btn btn-primary" style="background: black; border-radius: 35px !important; width: 65px; height: 65px; border: none; font-size: 35px; font-weight: 600;"><i class="bi bi-plus-lg academy-plus-inner-text rounded"></i></button>
        <br/>
        <label for="name" class="control-label" style="margin-top: 15px; font-size: 18px; font-weight: 600;">Add Fixture</label>
      </div>
    </form>
  </div>
  <div class="row mt-5">
    <hr/>
  </div>
  <div class="row">
    <app-fixture-listing [players]="data" (delUser)="deletePlayer($event)"></app-fixture-listing>
  </div>
</div>

