.max-width {
  max-width: 1440px;
  margin: 0 auto;
}
#main-wrapper {
  .topbar {
    height: fit-content;
    font-family: NotoSansRegular;
    .top-navbar {
      min-height: 124px;
    }
    .navbar-header {
      line-height: 124px;
    }
  }
  .left-sidebar {
    top: 64px;
  }
#navbarSupportedContent {
    app-navigation {
      display: flex;
    }
  }
}
@media (min-width: 767px) {
  #main-wrapper {
    .topbar {
      font-family: NotoSansRegular;
    }
  }
}
