.academy-row {
  height: 180px;
  background: #FF5A5A;
  padding: 10px;
  margin-bottom: 35px;
  .academy-name {
    padding-top: 8px;
    p {
      color: #FFF;
      font-family: NotoSansRegular;
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }
  .acedmy-plus {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    padding-top: 45px;
    padding-right: 35px;
    border-radius: 75px;
    width: 162px;
    height: 156px;
    background: white;
    .btn-default {
      b > i.academy-plus-inner-text {
        color: #FF5A5A;
        font-size: 30px;
        font-weight: bold;
      }

    }
  }
}
