<div class="row academy-row">
  <div class="col-sm-2">
    <div class="acedmy-plus">
      <div class="btn btn-default col-lg-2 col-sm-2"><b><i class="bi bi-plus-lg academy-plus-inner-text"></i></b><br/>
      </div>
    </div>
  </div>
  <div class="col-sm-10 academy-name">
    <p>Academy Name Goes here</p>
  </div>
  </div>
  <div class="row">
    <h4>Leagues & Division</h4>
    <hr/>
  </div>
  <div class="row">
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
    <div class="league-lable col-lg-4 col-sm-6">
      <div class="list-group-item">
        Under 6 A Divising
        <input class="form-check-input me-1" type="checkbox" value="" aria-label="..." />
      </div>
    </div>
</div>

<div class="row">
  <hr/>
</div>
<div class="row">
  <h4>Coaches Details</h4>
  <hr/>
</div>
<div class="row">
  <form class="col-sm-12 col-lg-12 d-flex">
      <div class="form-group col-xs-3 col-md-3 m-3">
          <label for="name" class="control-label">Name</label>
          <input type="email" value='' class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group col-xs-3 col-md-3 m-3">
          <label for="name" class="control-label">Email</label>
          <input type="email" value='' class="form-control" id="name" placeholder="Email">
      </div>
      <div class="form-group col-xs-3 col-md-3 m-3">
          <label for="name" class="control-label">Mobile</label>
          <input type="email" value='' class="form-control" id="name" placeholder="Mobile">
      </div>
  </form>
</div>
<div class="row">
  <hr/>
</div>
<div class="row">
  <h4>Squad</h4>
</div>

<div class="row squads">
  <div class="col-lg-8 col-sm-12 d-flex squad">
    <div class="squads-lable col-lg-5 col-sm-6 mt-4">
      <span class="squads-text">Download CSV Template</span>
    </div>
    <div class="squads-lable col-lg-5 col-sm-6 mt-4">
      <span class="squads-text">Buld Uploads</span>
    </div>
  </div>
  <div class="col-lg-4 col-sm-12">
    <div class="col-lg-12 col-sm-12">
      <p>To move a player or player doesn't have a EID</p>
    </div>
    <div class="squads-lable col-lg-12 col-sm-6" style="width: 250px; margin-left: 45px;">
      <span class="squads-text">Contact Us</span>
    </div>
  </div>
</div>
<div class="row">
  <form class="col-sm-12 col-lg-12 d-flex player-form">
      <div class="form-group col-xs-2 col-md-1 m-2">
          <label for="name" class="control-label">First Name</label>
          <input type="email" value='' class="form-control" id="name" placeholder="FirstName">
      </div>
      <div class="form-group col-xs-2 col-md-1 m-2">
        <label for="name" class="control-label">Surname</label>
        <input type="email" value='' class="form-control" id="name" placeholder="Surname">
      </div>
      <div class="form-group col-xs-2 col-md-1 m-2">
          <label for="name" class="control-label">DOB</label>
          <input type="email" value='' class="form-control" id="name" placeholder="DOB">
      </div>
      <div class="form-group col-xs-2 col-md-1 m-2">
          <label for="name" class="control-label">Squad Number</label>
          <input type="email" value='' class="form-control" id="name" placeholder="squadNo">
      </div>
      <div class="form-group col-xs-2 col-md-1 m-2">
        <label for="name" class="control-label">League</label>
        <input type="email" value='' class="form-control" id="name" placeholder="League">
    </div>
    <div class="form-group col-xs-2 col-md-1 m-2">
        <label for="name" class="control-label">Player ID Number</label>
        <input type="email" value='' class="form-control" id="name" placeholder="Player Id No">
    </div>
    <div class="form-group col-xs-2 col-md-1 m-2">
        <label for="name" class="control-label">EID Front</label>
        <input type="email" value='' class="form-control" id="name" placeholder="EID Front">
    </div>
    <div class="form-group col-xs-2 col-md-1 m-2">
      <label for="name" class="control-label">EID Back</label>
      <input type="email" value='' class="form-control" id="name" placeholder="EID Back">
    </div>
    <div class="form-group col-xs-2 col-md-1 m-2">
      <label for="name" class="control-label">Playing a player up</label>
      <input type="email" value='' class="form-control" id="name" placeholder="League Age">
    </div>
    <div class="form-group col-xs-2 col-md-1">
      <button type="submit" class="btn btn-primary">Add player</button>
    </div>
  </form>
</div>
<div class="row">
  <br>
  <hr/>
</div>
<div class="row">
  <app-coach-squad-list [players]="data" (delUser)="deletePlayer($event)"></app-coach-squad-list>
</div>






